{% extends 'index.html' %}
{% block navbar %}
<div class="container d-flex justify-content-center align-items-center" style="height: 89.6vh; ">
    
        
    
    <form action="{% url 'add-user' %}" method="POST">

      {% csrf_token %}
        <h1 class="text-center p-5  text-dark" style="font-size: 5em;">Add User</h1>
        <div class="form-group m-3 ml-0">
            <label for="firstname" class="font-weight-bolder">First Name</label>
            <input type="text" class="form-control" id="firstname" placeholder="Enter First Name" name="Firstname">
            
        </div>

        <div class="form-group m-3 ml-0">
            <label for="Lastname" class="font-weight-bolder">Last Name</label>
            <input type="text" class="form-control" id="lastname" placeholder="Enter Last Name" name="Lastname">
        </div>

        <div class="form-group m-3 ml-0">
          <label for="emails" class="font-weight-bolder">Email address</label>
          <input type="email" class="form-control" id="emails" aria-describedby="emailHelp" placeholder="Enter email" name="Email_id">
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        
        <center><button type="submit" class="btn btn-primary mt-3 ">Submit</button><button type="reset" class="btn btn-danger mt-3 ml-2">Clear</button></center>
        {% if Message %}
        <center><span style="color: black;">{{Message}}</span></center>
        {% endif %}
      </form>
</div>
{% endblock %}