{% extends 'index.html' %}
{% block navbar %}
<div class="container" style="min-height: 89vh;"  >
    <h1 class="text-center p-5  text-dark" style="font-size: 5em;"> Users Details</h1>
    
    <table class="table table-dark table-striped table-hover ">
        <thead>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email </th>
            <th></th>
        </thead>
        <tbody>
            {% for user in Users %}
            <tr>
                <td>{{user.First_name}}</td>
                <td>{{user.Last_name}}</td>
                <td>{{user.Email}}</td>
                <td><a href="{% url 'send-email' user.id %}" class="btn btn-primary">Email</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}