<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inc Builders</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/css/bootstrap.min.css" integrity="sha384-DhY6onE6f3zzKbjUPRc2hOzGAdEf4/Dz+WJwBvEYL/lkkIsI3ihufq9hk9K4lVoK" crossorigin="anonymous">
    <style>
        body::-webkit-scrollbar {
             display: none;
        }
    </style>

</head>
<body>
    
    <!-- <nav class="navbar navbar-expand-lg " style="background: rgba(115, 255, 0, 0.527);">
        <div class="container p-1" >
            <a class="navbar-brand text-dark font-weight-bolder" href="/" style="font-size: 1.4em;">Inc Builders</a>
        </div>
    </nav> -->
{% block navbar %}
    <div class="container-fluid d-flex justify-content-center align-items-center" style="height: 89.6vh; ">
        <div class="container text-center">
            <h1 style="font-size: 5em; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Hi Dev!</h1>
            <p ><b>Show Your Stuffs to Your Recuirters </b></p>
            <div class="row d-flex justify-content-center align-items-center" >
                
                <a href="/add-user" class="btn btn-primary col-lg-2 col-md-2 col-sm-6 m-2" target="_blank">Add User</a>            
                <a href="/display-user" class="btn btn-success col-lg-2 col-md-2 col-sm-6 m-2" target="_blank">Display Users</a>            
                <a href="/send-email" class="btn btn-dark col-lg-2 col-md-2 col-sm-6 m-2" target="_blank">Send E-Mail</a>

            </div>
        </div>
    </div>

{% endblock navbar %}
<!-- style="" -->
    <footer class="container-fluid text-light p-3" style="background: black;" >

        <div class="row " style=" height: 100%;">
            <div class="col-lg-6 d-flex justify-content-center align-items-center">
                <a class="text-light navbar-brand  font-weight-bolder" href="/" style="font-size: 1.4em;">Inc Builders</a>
            </div>
            <div class="col-lg-6 d-flex justify-content-center align-items-center mt-3 text-secondary">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente architecto suscipit   </p>
            </div>
        </div>
    </footer>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/js/bootstrap.min.js" integrity="sha384-5h4UG+6GOuV9qXh6HqOLwZMY4mnLPraeTrjT5v07o347pj6IkfuoASuGBhfDsp3d" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/js/bootstrap.bundle.min.js" integrity="sha384-BOsAfwzjNJHrJ8cZidOg56tcQWfp6y72vEJ8xQ9w6Quywb24iOsW913URv1IS4GD" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/js/bootstrap.esm.min.js" integrity="sha384-Eg5XYZrb+x0FMnsSAcaUNc6vJ/6B47jQvyhan3IGKcCfko9Hq6vS3s1PviSpNbdE" crossorigin="anonymous"></script>
</body>
</html>