{% extends 'index.html' %}
{% block navbar %}
<div class="container-fluid ">
    <div class="container-fluid"><h1 class="text-center p-2  text-dark" style="font-size: 5em;">Send E-Mail</h1></div>
    <div class="container-lg container-sm-fluid w-50 mt-3">
        <form method="POST" action="{% url 'send-email' %}">{% csrf_token %}
            
            <div class="form-group p-2">
                <label for="Email " class="mb-2 font-weight-bolder">Email </label>
                <select id = "Email" name="Email_id" class="form-control">
                    {% if Users %}
                    {% for user in Users %}
                    <option>{{user.Email}}</option>
                    {% endfor %}
                    {% else %}
                    <option>{{User}}</option>
                    {% endif %}
                </select>
            </div>
            <div class="form-group p-2" >
                <label for="Subject" class="mb-2 font-weight-bolder">Subject  </label>
                <input type="text" placeholder="Subject" class="form-control" id="Subject" name = "Mail_sub">
            </div>
            <div class="form-group p-2" >
                <label for="Compose Your Mail" class="mb-2 font-weight-bolder">Compose Your Mail</label>
                <textarea rows="10" cols="30" class="form-control" id="message" name="Email_content"></textarea>
            </div>
            <center><button class="btn btn-success m-3" type="submit">Send</button><button class="btn btn-danger m-3" type="reset">Clear</button></center>

            
                {% if Code == 202 %}
                <center><p class="font-weight-bolder text-success p-3">Email send successfully</p></center>
                {% endif %}
            
        </form>
    </div>
</div>
{% endblock %}